Repository Lawrancebahem/EWA-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  script:
  - git remote rm heroku-be-app-production || true
  - git remote add heroku-be-app-production https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-backend-prod.git || true
  - git subtree split --prefix be-app -b splitting-production-be
  ...

deploy_fe:
  stage: deploy
  script:
  - git remote rm heroku-fe-app-production || true
  - git remote add heroku-fe-app-production https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-frontend-prod.git || true
  - git subtree split --prefix fe-app -b splitting-production-fe
  ...

yml staging
  .gitlab-ci.yml
Due: none

some changes in style
  fe-app/src/app/components/HomePage/bannerHomePage/banner.component.css
  fe-app/src/app/components/HomePage/bannerHomePage/banner.component.html
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.css
  fe-app/src/app/components/HomePage/search-home-page/zoekbalk-home-page.component.css
  fe-app/src/app/components/HomePage/search-home-page/zoekbalk-home-page.component.html
  fe-app/src/styles.css
Due: deploy_fe

categorypage bugfix
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.html
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.ts
Due: deploy_fe

lorem ipsum weg
  fe-app/src/app/components/login/login.component.css
  fe-app/src/app/components/login/login.component.html
  fe-app/src/app/components/register/register.component.html
Due: deploy_fe

some styling
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.css
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.html
Due: deploy_fe

some styling
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.css
Due: deploy_fe

readme installation has been added
  README.md
  be-app/src/main/resources/application-dev.properties
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.ts
  readme-images/ERD.png
  readme-images/EWAapp.png
  readme-images/applicationProperties.png
Due: deploy_be, deploy_fe

Update README.md
  README.md
Due: none

Update 2 README.md
  README.md
Due: none

readme has been edited some style code improvements
  .gitlab-ci-production.text
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.css
  fe-app/src/app/components/admin/activity-admin/activitiy-edit/activity-edit.component.ts
  fe-app/src/app/components/admin/category-admin/category-edit/category-edit.component.ts
  fe-app/src/app/components/admin/user-admin/user-overview/user-overview.component.ts
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.ts
  fe-app/src/app/components/login/login.component.css
  fe-app/src/app/components/login/login.component.ts
  fe-app/src/app/components/nav-bar/nav-bar.component.css
  fe-app/src/app/components/nav-bar/nav-bar.component.html
  fe-app/src/app/components/nav-bar/nav-bar.component.ts
  fe-app/src/app/components/profile/profile.component.ts
  fe-app/src/styles.css
Due: deploy_fe

Include error messages (server respons)
  be-app/src/main/resources/application-production.properties
  be-app/src/main/resources/application-staging.properties
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.ts
  fe-app/src/app/services/admin-service/admin.service.ts
Due: deploy_be, deploy_fe

-adding system documentation -adding contact routing
  UML system documentation.pdf
  fe-app/src/app/components/nav-bar/nav-bar.component.html
  fe-app/src/app/components/nav-bar/nav-bar.component.ts
Due: deploy_fe

-fixing the check of speech recognition
  fe-app/src/app/components/nav-bar/nav-bar.component.ts
Due: deploy_fe

-Changing the UML layered digram
  UML system documentation.pdf
Due: none

-Showing error for if speech not working
  fe-app/src/app/components/nav-bar/nav-bar.component.html
  fe-app/src/app/services/categoryService/category.service.ts
  fe-app/src/styles.css
Due: deploy_fe

homepage test done
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.html
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.spec.ts
  fe-app/src/app/components/HomePage/search-home-page/zoekbalk-home-page.component.html
  fe-app/src/app/components/HomePage/search-home-page/zoekbalk-home-page.component.spec.ts
  fe-app/src/app/components/login/login.component.html
  fe-app/src/app/services/categoryService/category.service.ts
Due: deploy_fe

Made 5 ReactionRepository tests for back-end
  be-app/src/main/java/server/models/Reaction.java
  be-app/src/test/java/server/repository/ReactionRepositoryTest.java
Due: deploy_be

5 unit tests completed for the front end
  fe-app/src/app/components/contact-us/contact-us.component.spec.ts
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/nav-bar/nav-bar.component.html
  fe-app/src/app/components/nav-bar/nav-bar.component.spec.ts
  fe-app/src/app/components/register/register.component.html
  fe-app/src/app/components/register/register.component.spec.ts
  fe-app/src/app/components/register/register.component.ts
Due: deploy_fe

5 unit tests completed for the back end
  be-app/src/test/java/server/repository/ReactionRepositoryTest.java
Due: deploy_be

-test have been
  be-app/src/main/java/server/models/Reaction.java
  be-app/src/test/java/server/repository/ReactionRepositoryTest.java
  be-app/src/test/java/server/repository/UserRepositoryTest.java
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.html
  fe-app/src/app/components/HomePage/categories-home-page/categories-home-page.component.spec.ts
  fe-app/src/app/components/admin/category-admin/category-edit/category-edit.component.html
  fe-app/src/app/components/admin/category-admin/category-edit/category-edit.component.spec.ts
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/register/register.component.spec.ts
  fe-app/src/app/services/admin-service/admin.service.spec.ts
  fe-app/src/app/services/authenticationService/authentication.service.spec.ts
  fe-app/src/app/services/categoryService/category.service.spec.ts
Due: deploy_be, deploy_fe

added tests fe activity overview and categorypage be activity repository
  be-app/src/main/java/server/models/Activity.java
  be-app/src/test/java/server/repository/ActivityRepositoryTest.java
  fe-app/debug.log
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.html
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.spec.ts
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.ts
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.html
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.spec.ts
Due: deploy_be, deploy_fe

-extra tests have been added
  fe-app/src/app/components/login/login.component.html
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/login/login.component.ts
Due: deploy_fe

fe categorypage test
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.spec.ts
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.html
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.spec.ts
  fe-app/src/app/components/register/register.component.spec.ts
Due: deploy_fe

- style has been edited
  fe-app/src/app/components/admin/activity-admin/activitiy-edit/activity-edit.component.html
  fe-app/src/app/components/admin/category-admin/category-edit/category-edit.component.css
  fe-app/src/app/components/admin/category-admin/category-edit/category-edit.component.html
  fe-app/src/app/components/login/login.component.html
  fe-app/src/styles.css
Due: deploy_fe

-some code changes
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.html
  fe-app/src/app/services/speech-voice-service/speech-service.service.ts
Due: deploy_fe

-fix bug
  fe-app/src/app/components/login/login.component.html
Due: deploy_fe

-fix bug
  fe-app/src/app/components/activityOverview/activity-overview/activity-overview.component.html
Due: deploy_fe

-fixing style
  fe-app/src/app/components/about-us-page/about-us-page.component.css
Due: deploy_fe

Link added README.md
  README.md
Due: none

Updated README.md
  README.md
Due: none

links to pdf and wiki added README.md
  README.md
Due: none

comments added to test JWToken improvements
  be-app/src/main/java/server/rest/AuthenticateController.java
  be-app/src/main/java/server/rest/ReactionController.java
  be-app/src/main/java/server/rest/UserController.java
  be-app/src/main/java/server/service/APIConfiguration.java
  be-app/src/main/java/server/utilities/JWTRequestFilter.java
  be-app/src/test/java/server/controllers/AuthenticationTest.java
  be-app/src/test/java/server/repository/ActivityRepositoryTest.java
  be-app/src/test/java/server/repository/CategoryRepository.java
  be-app/src/test/java/server/repository/InterestRepositoryTest.java
  be-app/src/test/java/server/repository/UserRepositoryTest.java
  fe-app/src/app/components/categorypage/categorypage/categorypage.component.spec.ts
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/register/register.component.spec.ts
  fe-app/src/app/services/admin-service/admin.service.spec.ts
  fe-app/src/app/services/authenticationService/authentication.service.spec.ts
Due: deploy_be, deploy_fe

comments added to test - tests have been enhanced
  be-app/src/main/java/server/models/User.java
  be-app/src/main/java/server/rest/AuthenticateController.java
  be-app/src/main/java/server/rest/UserController.java
  be-app/src/main/resources/application.properties
  be-app/src/test/java/server/controllers/AuthenticationTest.java
  be-app/src/test/java/server/controllers/UserControllerTest.java
  be-app/src/test/java/server/repository/InterestRepositoryTest.java
  be-app/src/test/java/server/repository/UserRepositoryTest.java
  fe-app/src/app/components/admin/user-admin/user-overview/user-overview.component.html
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/nav-bar/nav-bar.component.html
  fe-app/src/app/components/nav-bar/nav-bar.component.ts
  fe-app/src/app/components/register/register.component.spec.ts
  fe-app/src/app/components/register/register.component.ts
  fe-app/src/app/services/admin-service/admin.service.spec.ts
  fe-app/src/app/services/admin-service/admin.service.ts
  fe-app/src/app/services/authenticationService/authentication.service.spec.ts
  fe-app/src/app/services/authenticationService/authentication.service.ts
  fe-app/src/app/services/speech-voice-service/speech-service.service.ts
Due: deploy_be, deploy_fe

added comments
  .idea/modules.xml
  be-app/src/main/java/server/repositories/ActivityRepositoryJpa.java
  be-app/src/main/java/server/rest/ReactionController.java
  be-app/src/test/java/server/repository/ReactionRepositoryTest.java
  fe-app/src/app/components/nav-bar/nav-bar.component.spec.ts
  fe-app/src/app/components/register/register.component.spec.ts
Due: deploy_be, deploy_fe

Path conditions:
  deploy_be: any of: be-app/**/*
  deploy_fe: any of: fe-app/**/*
