Repository Lawrancebahem/EWA-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

#stages:
#  - deploy
#
#deploy_be:
#  stage: deploy
#  only:
#    refs:
#      - staging
#    changes:
#      - "be-app/**/*"
#  script:
#    - git remote rm heroku-be-app || true
#    - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-backend-staging.git || true
#    - git subtree split --prefix be-app -b splitting-staging-be
#    - git push --force heroku-be-app splitting-staging-be:master
#    - git branch -D splitting-staging-be
#
#deploy_fe:
#  stage: deploy
#  only:
#    refs:
#      - staging
#    changes:
#      - "fe-app/**/*"
#  script:
#    - git remote rm heroku-fe-app || true
#    - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-frontend-staging.git || true
#    - git subtree split --prefix fe-app -b splitting-staging-fe
#    - git push --force heroku-fe-app splitting-staging-fe:master
#    - git branch -D splitting-staging-fe



stages:
  - deploy

deploy_be:
  stage: deploy
  only:
    refs:
      - production
    changes:
      - "be-app/**/*"
  script:
    - git remote rm heroku-be-app-production || true
    - git remote add heroku-be-app-production https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-backend-prod.git || true
    - git subtree split --prefix be-app -b splitting-production-be
    - git push --force heroku-be-app-production splitting-production-be:master
    - git branch -D splitting-production-be

deploy_fe:
  stage: deploy
  only:
    refs:
      - production
    changes:
      - "fe-app/**/*"
  script:
    - git remote rm heroku-fe-app-production || true
    - git remote add heroku-fe-app-production https://heroku:$HEROKU_API_KEY@git.heroku.com/digital-life-frontend-prod.git || true
    - git subtree split --prefix fe-app -b splitting-production-fe
    - git push --force heroku-fe-app-production splitting-production-fe:master
    - git branch -D splitting-production-fe

added comments
  fe-app/src/app/components/register/register.component.spec.ts
Due: deploy_fe

added comments
  be-app/src/test/java/server/repository/ReactionRepositoryTest.java
Due: deploy_be

-adding comments
  be-app/src/main/java/server/models/Category.java
  be-app/src/main/java/server/models/User.java
  be-app/src/main/java/server/repositories/AbstractEntityRepositoryJpa.java
  be-app/src/main/java/server/rest/CategoryController.java
  be-app/src/main/java/server/rest/ReactionController.java
  be-app/src/main/java/server/rest/UserController.java
  be-app/src/main/java/server/utilities/JWToken.java
  fe-app/src/app/components/login/login.component.ts
  fe-app/src/app/components/register/register.component.ts
  fe-app/src/app/services/sessionService/session.service.ts
  fe-app/src/app/services/speech-voice-service/speech-service.service.ts
Due: deploy_be, deploy_fe

-- comments added
  be-app/src/main/java/server/repositories/UserRepositoryJpa.java
  be-app/src/main/java/server/rest/UserController.java
  be-app/src/test/java/server/controllers/UserControllerTest.java
  fe-app/src/app/components/login/login.component.spec.ts
  fe-app/src/app/components/register/register.component.spec.ts
  fe-app/src/app/services/admin-service/admin.service.spec.ts
  fe-app/src/app/services/authenticationService/authentication.service.spec.ts
Due: deploy_be, deploy_fe

--missing line
  fe-app/src/app/components/register/register.component.spec.ts
Due: deploy_fe

Update README.md
  README.md
Due: none
